@import url("https://fonts.googleapis.com/css2?family=Andika+New+Basic:ital,wght@0,400;0,700;1,400;1,700&family=Langar&display=swap");
a {
  text-decoration: none;
  color: #ffffff;
  font-size: inherit;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999999999s;
  -webkit-box-shadow: 0 0 0 30px #3a3a3a inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: #838383 !important;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Andika New Basic", sans-serif;
  background: #121212;
  color: #838383;
  font-size: 14px;
}

#container {
  max-width: 470px;
  min-width: 320px;
  width: 100%;
  background: #202020;
  padding: 28px 60px 28px;
  margin: 50px auto;
  height: auto;
}

#container #form-head {
  text-align: center;
}

#container #form-head img {
  width: 50px;
}

#container #form-footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container #form-footer div p {
  margin: 5px;
}

#singup-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
  height: 600px;
}

#singup-form h4 {
  color: #ffffff;
  padding: 0 10px;
}

#singup-form input, #singup-form select, #singup-form #password {
  position: relative;
  font-family: inherit;
  color: grey;
  padding: 1rem .9rem;
  background: #2B2B2B;
  border: none;
  border-radius: 3px;
  caret-color: #dadada;
  font-weight: bold;
}

#singup-form input:focus, #singup-form input:active, #singup-form select:focus, #singup-form select:active, #singup-form #password:focus, #singup-form #password:active {
  background: #3a3a3a;
  outline: none;
}

#singup-form input:focus:required:invalid, #singup-form select:focus:required:invalid, #singup-form #password:focus:required:invalid {
  border: none;
  background: #5e4040;
}

#singup-form #password input {
  padding: 0;
}

#singup-form #names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#singup-form #names input {
  width: 49%;
}

#singup-form input[type="submit"] {
  cursor: pointer;
}

#singup-form a {
  text-align: center;
}

@media only screen and (max-width: 560px) {
  #container {
    padding: 20px;
    font-size: 12px;
  }
  #container #singup-form input, #container #singup-form select {
    font-size: inherit;
    padding: 12px 10px;
  }
  #container #singup-form #names {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #container #singup-form #names input {
    width: 100%;
  }
  #container #singup-form #names input[name="First Name"] {
    margin-bottom: 11px;
  }
}

@media only screen and (max-width: 240px) {
  #container {
    font-size: 8px;
    padding: 2px;
  }
  #form-footer div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */