@import "helpers";
@import "general";
/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999999999s;
    -webkit-box-shadow: 0 0 0 30px $focus-input-bg inset !important;
}
/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: $primary-color !important;
}
*{
    box-sizing: border-box;
}
html{
    font-family: $font2;
    background: $forground-color;
    color: $primary-color;
    font-size: 14px;
}

// container styling
#container{
    max-width: 470px;
    min-width: 320px;
    width: 100%;
    background: $bg-color;
    padding: 28px 60px 10px;
    margin: 0 auto;
    height: auto;
    min-height: 100vh;
    #form-head{
        text-align: center;
        img{
            width: 50px;
        }
    }
    #form-footer{
        div{
            @include flex;
            p{
                margin: 5px;
            }
        }
    }
}

// Form styling
#singup-form{
    @include flex(column, $align: auto, $justify: space-around);
    height: 600px;
    h4{
        color: $highlight-color;
        padding: 0 10px;
    }
    input, select, #password{
        position: relative;
        font-family: inherit;
        color: grey;
        padding: 1rem .9rem;
        background: $input-bg;
        border: none;
        border-radius: 3px;
        caret-color: rgb(218, 218, 218);
        font-weight: bold;
        &:focus, &:active{
            background: $focus-input-bg;
            outline: none;
        }
        &:focus:required:invalid{
            border: none;
            background: rgb(94, 64, 64);
        }
    }
    #password{
        input{
            padding: 0;
        }
    }
    #names{
        display: flex;
        justify-content: space-between;
        input{
            width: 49%;
        }
    }
    input[type="submit"]{
        cursor: pointer;
    }
    a{
        text-align: center;
    }
}
@media only screen and (max-width: 560px){
    #container{
        padding: 20px;
        font-size: 12px;
        #singup-form{
            input, select{
                font-size: inherit;
                padding: 12px 10px;
            }
            #names{
                flex-direction: column;
                input{
                    width: 100%;
                }
                input[name="First Name"]{
                    margin-bottom: 11px;
                }
            }
        }
    }
}
@media only screen and (max-width: 240px){
    #container{
        font-size: 8px;
        padding: 2px;
    }
    #form-footer{
        div{
            flex-direction: column;
        }
    }
}