@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
  background: #121212;
  color: #838383;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #F4F4F4;
  font-size: inherit;
}

#container {
  max-width: 470px;
  min-width: 320px;
  width: 100%;
  background: #202020;
  padding: 28px 60px 28px;
  margin: 50px auto;
  height: auto;
}

#container #form-head {
  text-align: center;
}

#container #form-head img {
  width: 50px;
}

#container #form-footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container #form-footer div p {
  margin: 5px;
}

#singup-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
  height: 600px;
}

#singup-form h5 {
  color: #F4F4F4;
  text-transform: uppercase;
  padding: 0 10px;
}

#singup-form input, #singup-form select, #singup-form #password {
  font-family: inherit;
  padding: 14px 12px;
  border: none;
  border-radius: 3px;
  background: #2B2B2B;
  color: #F4F4F4;
  caret-color: #F4F4F4;
}

#singup-form input::-webkit-input-placeholder, #singup-form select::-webkit-input-placeholder, #singup-form #password::-webkit-input-placeholder {
  color: #838383;
}

#singup-form input:-ms-input-placeholder, #singup-form select:-ms-input-placeholder, #singup-form #password:-ms-input-placeholder {
  color: #838383;
}

#singup-form input::-ms-input-placeholder, #singup-form select::-ms-input-placeholder, #singup-form #password::-ms-input-placeholder {
  color: #838383;
}

#singup-form input::placeholder, #singup-form select::placeholder, #singup-form #password::placeholder {
  color: #838383;
}

#singup-form input:focus, #singup-form input:valid, #singup-form select:focus, #singup-form select:valid, #singup-form #password:focus, #singup-form #password:valid {
  background: #484848;
  outline: none;
}

#singup-form input:focus:required:invalid, #singup-form select:focus:required:invalid, #singup-form #password:focus:required:invalid {
  background: #554343;
}

#singup-form #names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#singup-form #names input {
  width: 49%;
}

#singup-form input[type="submit"] {
  cursor: pointer;
  background: #191919;
  color: #838383;
}

#singup-form a {
  text-align: center;
}

@media only screen and (max-width: 560px) {
  #container {
    padding: 20px;
    font-size: 12px;
  }
  #container #singup-form input, #container #singup-form select {
    font-size: inherit;
    padding: 12px 10px;
  }
  #container #singup-form #names {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #container #singup-form #names input {
    width: 100%;
  }
  #container #singup-form #names input[name="First Name"] {
    margin-bottom: 11px;
  }
}

@media only screen and (max-width: 240px) {
  #container {
    font-size: 8px;
    padding: 2px;
  }
  #form-footer div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999999999s;
  -webkit-box-shadow: 0 0 0 30px #484848 inset !important;
}

/* Changes color of the autofilled text */
input:-webkit-autofill {
  -webkit-text-fill-color: #F4F4F4 !important;
}
/*# sourceMappingURL=style.css.map */